body {
    background-color:#fdcae1;
    font-family: "Shadows Into Light", cursive;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1cqw;
    width: 32;
    text-align: center;
}

h1 {
    color: #000000;
    margin: 20px 0;
}

p {
    color: #000000;
    line-height: 1.6;
    margin: 26px 0;
    font-size: center;
}

a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 400;
    font-size: 40px;
}

a:hover {
    color: #FFC0CB;
    text-decoration: underline;
    font-weight: 800;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #c999af;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 32px;
    border-radius: 7px; /* Bordes redondeados */
    
}

th {
    background-color:#FFC0CB;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 4.1em;
}

td {
    padding: 45px;
    text-align: 10px;
    border-top: 1px solid rgba(200, 200, 200, 0,2);
    
}

.git {
    font-size: 60px;
    margin-top: 30px;
}