body {
    background-color: #E0F7FA;
    /* Pastel Blue */
    font-family: "Shadows Into Light", cursive;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1cqw;
    width: 32;
    text-align: center;
}

h1 {
    color: #000000;
    margin: 20px 0;
}

p {
    color: #000000;
    line-height: 1.6;
    margin: 26px 0;
    font-size: center;
}

a {
    color: #000000;
    text-decoration: none;
    /* Remove underline */
    transition: color 0.3s;
    font-weight: 400;
    font-size: 40px;
}

a:hover {
    color: #4DD0E1;
    /* Cyan Accent */
    text-decoration: none;
    font-weight: 800;
}

table {
    width: 90%;
    max-width: 1200px;
    margin: 32px auto 50px;
    border-collapse: collapse;
    background-color: #81D4FA;
    /* Light Blue Table */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    table-layout: auto;
}

th {
    background-color: #4FC3F7;
    /* Darker Blue Header */
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 3em;
    word-wrap: break-word;
}

td {
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(200, 200, 200, 0.2);
    font-size: 1.5em;
    word-wrap: break-word;
}

.git {
    font-size: 60px;
    margin-top: 0;
    color: white !important;
}

.navbar {
    background-color: #81D4FA;
    /* Light Blue Navbar */
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    font-size: 60px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
}

.navbar a:hover {
    color: #01579B;
    /* Darker Blue */
    text-decoration: none;
}