@font-face {
  font-family: 'Cat';
  src: url('../funtes/catlowe/CatLowe.ttf') format('woff2'); /* Usa el formato correcto */
  font-weight: normal;
  font-style: normal;
}

.cat {
    font-family: Cat;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;  
  background: navajowhite;
  overflow: hidden;
}
.card .imgBx,
.card .details {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
}

.card .imgBx {
  top: 0;
  left: 0;
}

.card:hover .imgBx {
  top: 0;
  left: -100%;
}

.card .imgBx img {
  width: 100%;
}


.card .details h2 {
  font-size: 50px;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0 0 10pt;
  border-bottom: 20px solid #fff,

}

.card .details p {
    margin: 20px 0 0;
    color: #fff;
}